@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --colo-branco: #ffffff;
  --color-cinza: #a3a5ae;
  --color-black: #000000;
  --color-prata: #f0f8ff;
  --color-sidebar: #e50cab;
  --color-blue: #4895ff;
  --color-green: #3bb54a;
  --color-red: #b3404a;
  --color-yello: #f6c23e;
  --color-light-blue: #36b9cc;
  --fonte-principal: "Inter";
}

.font-inter {
  font-family: var(--fonte-principal);
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
}

.container-btn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 6rem;
}

.btn-menu {
  border-radius: 10px 0px 0px 10px;
  margin: 20px;
  background-color: var(--color-sidebar);
  border: none;
  height: 4rem;
  cursor: pointer;
  color: var(--colo-branco);
  width: 20rem;
}

.btn-menu i {
  color: var(--colo-branco);
  display: flex;
}

.btn-menu:hover {
  border-radius: 10px 0px 0px 10px;
  margin: 20px;
  background-color: var(--colo-branco);
  color: var(--color-sidebar);
  width: 20rem;
}

.btn-menu:hover i {
  color: var(--color-sidebar);
  display: flex;
}

.menu-lateral {
  background-color: var(--color-sidebar);
  width: 340px;
  height: 100vh;
  float: left;
}

.container-menu .container-logo {
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  height: 150px;
}

.container-menu .container-logo i {
  color: var(--colo-branco);
}

.container-menu .container-logo .texto-logo {
  font-size: 25px;
  color: var(--colo-branco);
  font-weight: 400;
  padding: 20px 0;
}

.menu-lateral .logo {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 2rem;
  color: var(--colo-branco);
  padding-top: 1rem;
}

.container {
  width: calc(100vw - 350px);
  display: flex;
  flex-direction: column;
}

.cabecario {
  background-color: var(--colo-branco);
  width: 100%;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 1px;
  i {
    margin-bottom: 2px;
  }
  .texto-menu {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-black);
    padding-top: 1rem;
  }
}

.container .conteudo {
  background: rgb(248, 249, 252);
  padding: 2rem 3rem;
  min-height: calc(100vh - 170px);
}

.conteudo .filtros {
  margin-bottom: 2rem;
}

.filtros select {
  width: 10rem;
}

.conteudo .dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  min-width: 152px;
  height: 100px;
  transition: all 0.3s ease-out;
  background-color: var(--colo-branco);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card h2 {
  font-size: larger;
}

.card p {
  padding-top: 16px;
  color: var(--color-cinza);
  font-size: 16px;
}

.card i {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.blue {
  border-left: 3px solid var(--color-blue);
}

.green {
  border-left: 3px solid var(--color-green);
}

.red {
  border-left: 3px solid var(--color-red);
}
.yellow {
  border-left: 3px solid var(--color-yello);
}

.light-blue {
  border-left: 3px solid var(--color-light-blue);
}

.graphic .card-inadiplencia {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  background-color: var(--colo-branco);
}

.graphic .card-receita {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  background-color: var(--colo-branco);
}
